html, body {
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

h1:focus {
    outline: none;
}

.validation-message {
    color: #e50000;
}
